.about{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vh;
  
}
.img{
    max-width: 100vw;
    padding-top: 1vh;
    justify-content: center;
    align-items: center;
   
}
.mdl{
    max-width: 80vw;
    height: inherit;
    object-fit: contain;
}
.txt{
    width:80vw;
   
}
.disc{
    
    font-size:130%;
    opacity: 0.4;
    font-weight: bold;
}

.excel{
    width:100vw;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    gap:4vh;
    padding-left: 4vw;
   
    padding-bottom: 1vh;
}
.imgs{
    height: 15vh;
    max-width: 15vw;
    object-fit:contain;
    align-items: center;
    justify-content: center;
}
