
.navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    height: fit-content;
    align-items: center;
}
.mecel{
    background: linear-gradient(45deg, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    
}

.links{
    background: linear-gradient(135deg, orange 15%, cyan);
    overflow-x: hidden;
    display: flex;
    gap: 1vw;
    -webkit-background-clip: text;
    color: transparent;
    justify-content: center;
    align-items: center;
}

.button{
    -webkit-background-clip: text;
    background: linear-gradient(135deg, orange 5%, cyan);
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 10%;
    font-weight: bolder;
    font-size: 1.5vh;
    border:none;
}
@media screen and (max-width: 500px) {
.navbar{
   flex-direction: column;
}
  }
