.navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    height: fit-content;
    align-items: center;
}
.navbar h4{
    color: aqua;
    
}

.links{
    background: linear-gradient(135deg, orange 15%, cyan);
    overflow-x: hidden;
    display: flex;
    gap: 1vw;
    -webkit-background-clip: text;
    color: transparent;
}

.button{
    background: linear-gradient(135deg, orange 5%, cyan);
    color:black;
    border-radius: 10%;
    font-weight: bolder;
    font-size: 1.5vh;
    border:none;
}