.img{
    width:500px;
    height:500px;
    object-fit: contain;
}
.mainContainer{
    display: flex;
    padding-left: 10vw;
    gap: 200px;
    align-items: center;
    padding: 40px;


}
.textContainer{
    height: inherit;
    width: 40vw;
    overflow: hidden;
    opacity: 0.6;
}